/* components/Web3AuthComponent.module.css */

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
  background-color: black;
  border-radius: 8px;
  font-family: sans-serif;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.container * {
  margin: 0 auto;
}

.title {
  font-size: 24px;
  color: #103565;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 18px;
  color: white;
  margin-bottom: 40px;
}

.button {
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #103565;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px !important;
}

.button:hover {
  background-color: #0a2f50;
}

.telegramContainer {
  margin-bottom: 20px;
  text-align: center;
}

.welcomeText {
  font-size: 18px;
  color: white;
}

.telegramImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
}

.walletInfo {
  margin-top: 16px;
  color: white;
  font-size: 16px;
  line-height: 1.4;
}
